torch
diffusers[torch]
spconv-cu113 # for CUDA 11.3, change to spconv-cu116 for CUDA 11.6, etc.

torchvision
opencv-python
scikit-image

numba
einops
nms

matplotlib
pillow
tensorboard
PyYAML
easydict
setuptools
PyQt5